#bg{
	width: 80%;
	min-height: 850px;
	border: 1px solid orange;
	margin: 10px auto; 
}
#header{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid orange;
	text-align: center;
	line-height: 90px;
	font-size: 50px;
	font-weight: bold;
	color: orange;
}
#menu{
	width: 150px;
	height: 50px;
	border-bottom: 1px solid orange;
}
#menu-head{
	width: 150px;
	height: 50px;
	border-right: 1px solid orange;
	position: relative;
	cursor: pointer;
	font-size: 25px;
	text-align: center;
	line-height: 45px;
}

#main-menu{
	width: 150px;
	height: 153px;
	position: relative;
	display: none;
}
#main-menu .menu-item{
	width: 150px;
	height: 50px;
	border-right: 1px solid orange;
	border-bottom: 1px solid orange;
	cursor: pointer;
	font-size: 25px;
	text-align: center;
	line-height: 45px;
	padding-top: 0px;
}
#main-menu .menu-item #sub-menu{
	width: 200px;
	position: relative;
	margin-left: 150px;
	margin-top: -45px;
	border-top: 1px solid orange;
	border-left: 1px solid orange; 
	background: white;
	display: none;
}
#main-menu .menu-item #sub-menu .sub-menu-item{
	width: 200px;
	height: 49px;
	background: white;
	border-bottom: 1px solid orange;
	border-right: 1px solid orange;
}
#main{
	width: 100%;
	height: 597px;
}
#newframe{
	width: 50%;
	height: 90%;
	/*border: 1px solid orange;*/
	margin: 10px auto;
}
#footer{
	width: 100%;
	height: 100px;
	border-top: 1px solid orange;
}

#bg-test-page{
	width: 100%;
	min-height: 90%;
	border: 1px solid blue;
	margin: 10px auto; 
}
#header-test-page{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid blue;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	font-weight: bold;
	color: blue;
}
#main-test-page{
	width: 100%;
	padding: 3px;
}
#footer-test-page{
	width: 100%;
	height: 100px;
	border-top: 1px solid blue;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	font-weight: bold;
	color: blue;
}
#author{
	width: 200px;
	height: 20px;
	float: right;
	margin-top: 40px;
	font-size: 20px;
}
#date{
	width: 350px;
	height: 20px;
	float: left;
	font-size: 20px;
	margin-top: 10px;
}