.mainDiv{
	width: 210px;
	height: 243px;
	margin-top: 20%;
	margin-left: 35%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 1px solid black;
	background: #7CFC00;
	
}
.input{
	width: 198px; 
	height: 40px; 
	border: 1px solid #7CFC00;
	text-align: right;
	background: white;
	font-size: 25px;
	font-family: arial;
	line-height: 40px;
}
.number{
	width: 50px; 
	height: 50px; 
	border: none;
	font-size: 25px;
	background: #ADFF2F;
	outline: none;
}
.number:hover{
	background: #00FF00;
	color:black;
	transition: 0.5s;
	cursor: pointer;
}
